.box1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2vh;
    height: 100%;
    width: 90%;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.text-header{
    font-size: 32px;
    font-weight: bold;
    align-self: center;
}

.text-items{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
    font-size: large;
}

.bold{
    font-weight: strong;
}
.applicationBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.prompt-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2%;
}

.application-container{
    display: flex;
    background-color: white;
    width: 45%;
    border: 10px solid #0066cc;
}

.applicationPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: pink;
  
}

.inputPrompt {
    font-size: 100%;
    font-weight: bold;
}

select.multi-select {
    width:200px;
    height:100px;
}

select option:hover, select:focus {
    border: 1px solid #007bff;
}

button.submit-button {
    width: 120px;
    height: 40px;
    background-color: #005293;
    color: white;
}

button.submit-button:hover {
    background-color: #7c7d81;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
