.box1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2vh;
    height: 100%;
    width: 90%;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 2.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.text-header{
    font-size: 32px;
    font-weight: bold;
    align-self: center;
}

.text-items{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
    font-size: large;
}

.bold{
    font-weight: strong;
}
.applicationBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.prompt-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 2%;
}

.application-container{
    display: flex;
    background-color: white;
    width: 45%;
    border: 1px solid rgba(17, 17, 26, 0.1);
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.applicationPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: pink;
  
}

.inputPrompt {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: .5rem;

}

select.multi-select {
    width:200px;
    height:100px;
}

select option:hover, select:focus {
    border: 1px solid #007bff;
}

button.submit-button {
    background-color: #0066cc;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    margin-bottom: .5rem;

}

button.submit-button:hover {
    background-color: #005ebd;
}

input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;}

.checkBox {
    height: 20px;
    width: 20px;
    background-color: #eee;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;}

.dropDownOption {
    display: inline-block;
    box-sizing: border-box;
    border: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    border: "2px solid #ccc";
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

input[type="file"]::file-selector-button {
    border-radius: 5px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    margin-right: 16px;
    transition: background-color 200ms;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }


