.accordion-box {
    margin-top: 2%;
}
.accordionStyles {
    width: 120vh;
}

.accordionTitleStyles {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
    font-size: 32px;
    color: white;
    background-color: #045496;
}

.accordionContentStyles {
    padding: 15px;
    font-size: 22px;
    word-wrap: break-word;
    background-color: #2c81d6;
    color: white;
}